.Order {
    width: 80%;
    border: 1px solid #ccc;
    box-shadow: 0 2px 3px #ccc;
    padding: 10px;
    margin: 10px auto;
    box-sizing: border-box;
    -webkit-box-shadow: 9px 7px 31px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 7px 31px 0px rgba(0,0,0,0.75);
    box-shadow: 9px 7px 31px 0px rgba(0,0,0,0.75);
}