.Auth {
    margin: 20px auto;
    width: 80%;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;
    -webkit-box-shadow: 9px 7px 31px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 7px 31px 0px rgba(0,0,0,0.75);
    box-shadow: 9px 7px 31px 0px rgba(0,0,0,0.75);
}

.Message {
    display: block;
    outline: none;
    margin: auto;
    background-color: #f7bfbf;
    border: 1px solid red;
}

.Input {
    display: block;
    outline: none;
    margin: auto;
}

@media (min-width: 600px) {
    .Auth {
        width: 500px;
    }
}